extends layout

block content
  
  div(class='col-xs-6 col-sm-6 col-md-6 col-lg-6')
    div(class='panel-group' id='accordion' role='tablist' aria-multiselectable='true')
      div(class='panel panel-default')
        div(class='panel-heading' role='tab' id='headingOsOne')
          h4(class='panel-title')
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseOsOne' aria-expanded='true' aria-controls='collapseOsOne')
              b Connection
        div(id='collapseOsOne' class='panel-collapse collapse in' role='tabpanel' aria-labelledby='headingOne')
          div(class='panel-body')
            div(id='connect-container')

  div(class='col-xs-6 col-sm-6 col-md-6 col-lg-6')
    div(class='panel-group' id='accordion' role='tablist' aria-multiselectable='true')
      div(class='panel panel-default')
        div(class='panel-heading' role='tab' id='headingOsOne')
          h4(class='panel-title')
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseOsOne' aria-expanded='true' aria-controls='collapseOsOne')
              b Os
        div(id='collapseOsOne' class='panel-collapse collapse in' role='tabpanel' aria-labelledby='headingOne')
          div(class='panel-body')
            div(id='data-os-container')


  div(class='col-xs-6 col-sm-6 col-md-6 col-lg-6')
    div(class='panel-group' id='accordion' role='tablist' aria-multiselectable='true')
      div(class='panel panel-default')
        div(class='panel-heading' role='tab' id='headingCpusOne')
          h4(class='panel-title')
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseCpusOne' aria-expanded='true' aria-controls='collapseCpusOne')
              b Cpus
        div(id='collapseCpusOne' class='panel-collapse collapse in' role='tabpanel' aria-labelledby='headingOne')
          div(class='panel-body')
            div(id='data-cpus-container')

  div(class='col-xs-6 col-sm-6 col-md-6 col-lg-6')
    div(class='panel-group' id='accordion' role='tablist' aria-multiselectable='true')
      div(class='panel panel-default')
        div(class='panel-heading' role='tab' id='headingNetworkInterfacesOne')
          h4(class='panel-title')
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseNetworkInterfacesOne' aria-expanded='true' aria-controls='collapseNetworkInterfacesOne')
              b Network Interfaces
        div(id='collapseNetworkInterfacesOne' class='panel-collapse collapse in' role='tabpanel' aria-labelledby='headingOne')
          div(class='panel-body')
            div(id='data-networkInterfaces-container')


  div(id='connect-template', class='hidden')
    h3
      span(class='label label-{{connectionStateColor}}', style='padding-top: 8px;')
        span(class='glyphicon glyphicon-link', aria-hidden='true')

  div(id='dataOsTemplate', class='hidden')
    div(class='table-responsive')
      table(class='table table-bordered table-hover table-condensed')
        thead
        tbody
          tr
            th hostname
            td {{hostname}}
          tr
            th type
            td {{type}}
          tr
            th platform
            td {{platform}}
          tr
            th arch.
            td {{arch}}
          tr
            th release
            td {{release}}
    samp
      |{{lastChanged}}
  
  div(id='dataCpusTemplate', class='hidden')
    {{#cpus}}
    div(class='panel panel-default')
      div(class='panel-heading')
        {{id}} - {{model}}
      div(class='panel-body')
        div(class='table-responsive')
          table(class='table table-bordered table-hover table-condensed')
            thead
            tbody
              tr
                th Speed
                td {{speed}}
              tr
                th Times
                td
                  div(class='table-responsive')
                    table(class='table table-bordered table-hover table-condensed')
                      tbody
                        tr
                          th user
                          td {{times.user}}
                        tr
                          th nice
                          td {{times.nice}}
                        tr
                          th sys
                          td {{times.sys}}
                        tr
                          th idle
                          td {{times.idle}}
                        tr
                          th irq
                          td {{times.irq}}                         
    {{/cpus}}      
    samp
      |{{lastChanged}}


  div(id='dataNetworkInterfacesTemplate', class='hidden')
    {{#networkInterfaces}}

    {{#interfaces}}
    div(class='panel panel-default')
      div(class='panel-heading') {{key}}
      div(class='panel-body')  
        {{#value}}
        div(class='table-responsive')
          table(class='table table-bordered table-hover table-condensed')
            tbody
              tr
                th(style='width: 50%;') address
                td {{address}}
              tr
                th family
                td {{family}}
              tr
                th internal
                td {{internal}}
        {{/value}}
    {{/interfaces}}

    {{/networkInterfaces}}
    samp
      |{{lastChanged}}

  //  script(type='text/javascript').
    
  

