html {
  position: relative;
  min-height: 100%;
}

body {
  //padding: 50px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}

a {
  //color: #00B7FF;
}

h1, h2 {
	text-transform: uppercase;
}

h3 {
	margin: 6px;
}

.table {
	margin-bottom: 0px;
}

.table th {
	text-transform: capitalize;
}

p {
	padding: 10px;
}

.panel-body{
	padding: 6px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
